venv/
node_modules/
*.backup
*.zip
.pytest_cache/
htmlcov/
package-lock.json
*.blend1
*.mp4
*.gif
failed-slugs.txt
scripts/showcase/frames/
scripts/showcase/inkscape-pngs/
build-failed-slugs-list.js
__pycache__/
*.tar.xz
blender-*/
